# Environment variables
.env
backend/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
backend/venv/
env/

# Node.js (если будет frontend с npm)
node_modules/
frontend/node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
backend/log.txt

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/